    body {
        background-color: black;
        color: white;
    }

    h1 {
        color: white;
    }

    a {
        background-color: white;
        color: black;
        inline-size: auto;
    }

    /* .mode {
        background-color: black;
        color: whitesmoke;
    } */