body {
    color: black;
    background-color: rgb 229,228,215;
}

h1, h2 {
    color: rgb(254, 252, 215);
    background-color: rgb(44, 103, 0);
    padding: 15px;
}

h3 {
    color: black;
    padding: 5px;
}

a {
    color: rgb(254, 252, 215);
    background-color: rgb(106,131,71);
    padding: 6px 8px;
    text-decoration: none;
}

form {
    padding: 25px;
    background-color: lightgrey;
    color: black;
    
}