    /* body {
        background-color: black;
        color: white;
    }

    h1 {
        color: white;
    }

    hr {
        color: lightgreen;
    } */

    .mode {
        background-color: black;
        color: whitesmoke;
    }